// You can add styles here
body {
    color: white;
    height: 100%;
    background: url('https://www.freeiconspng.com/uploads/water-bubbles-png-6.png'), linear-gradient(to bottom, black ,black, black, black, black, black, lightgrey);
    background-size: 100%;
    background-attachment: fixed;
    .navigation-bar {
        position: fixed;
        top: 0;
        z-index: 2;
        background-color: black;
        padding: 10%, 100px, 0, 0;
        display: inline-block;
        height: 100px;
        width: 100%;

        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 10px rgba(255, 255, 255, .2);
        ul.navigation-links {
            float: right;
            margin: 0 auto;
            height: 100%;
            list-style: none !important;
            display: table;
            li {

                color: white;
                font-size: 1em;
                vertical-align: middle;
                height: 100%;
                padding-right: 20px;
                display: table-cell;
            }
        }
        img.navigation-logo{
            height: 100px;
            float: left;
        }
    }
    .bubble-container{
        .btn{
            margin: 10px;
        }
        top: 120px;
        color: white;
        width: 60%;
        margin: 30px auto;
        position: relative;
        ul{
            display: inline;
            list-style: none !important;
            li{
                padding: 10px;
            }
            div.card{
                background-color:rgba(255, 255, 255, 0.1);
                box-shadow: 0 0 10px rgba(255, 255, 255, .2);
                width: 100%;
                display: inline-block;
                .add-cart{
                    cursor: pointer;
                    float: right;
                    margin-right: 10px;
                    font-size: 2em;
                }
                .add-cart:hover{
                    font-size: 2.5em;
                }
                .remove-cart{
                    color: red;
                    cursor: pointer;
                    float: right;
                    margin-right: 10px;
                    font-size: 2em;
                }
                .remove-cart:hover{
                    font-size: 2.5em;
                }
                
            }
            img{
                margin: 20px;
                width: 200px;
                height: 200px;
                float: left;
            }
        }
        .bubble-details-card{
            padding: 20px;
            background-color:rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 10px rgba(255, 255, 255, .2);
            width: 100%;
            img{
                height: 500px;
                width: 500px;
                margin: 0 auto;
            }
            .card-title{
                align-self: center;
                font-size: 100px;
            }
            .card-price {
                font-size: 50px;
                align-self: center;
            }
            .card-text {
                align-self: center;
                font-size: 1.5em;
            }
            .add-cart{
                position: relative;
                cursor: pointer;
                font-size: 2em;
                align-self: center;
                padding: 10px;
            }
            .add-cart:hover{
                font-size: 2.5em;
            }
        }
    }
    .delivery{
        float: left;
        width: 45%;
    }
    .pickUp{
        float: right;
        width: 45%;
    }
    .selectDel{
        float: left;
        width: 45%;
    }
    .selectPic{
        width: 45%;
        float: right;
    }
    hr{
        border: 1px dotted white;
    }

    a{
        color:white;
    }
    a:hover{
        color: white;
    }
    a:focus{
        color: white;
    }
}